.s1 {
  background-image: url("../../../../public/images/dark-purple-gradient-background-minimalistic-simple-smooth-gradients-high-resolution_1045163-23438.png");
  background-size: cover;
  background-position: center;
  color: rgb(245, 231, 244);
}
