.apunKaColor{
    background-color: #D2FF72;
}
.col-2{
    text-align: center;

}
.abc{
    background-color:#73EC8B;
    text-align: center;
    color:blueviolet
}

.c1{
    background-color:#54B392;
    color: aliceblue;
    text-decoration: dashed;
}
.c2{
    background-color:#15B392;
}