<div class="row">
    <div class="col-3 p-3 p">
        <h1>Pipes</h1>
    </div>
    <div class="col-3">
        Orginal:{{name}}
        <br>
       After:{{name|uppercase}}
    </div>
    <div class="col-3">
        Orginal:{{reg}}
        <br>
        After:{{reg|lowercase}}
    </div>
    <div class="col-3">
        Orginal:{{reg}}
        <br>
        After:{{reg|titlecase}}
    </div>
    <div class="col-3">
        Orginal:{{name}}
        <br>
        After:{{name|json}}
    </div>
</div>